#searchbox {
	display: block;
	position: relative;
	width: auto;
	margin: 5px auto;
}

#results {
	position: absolute;
	left: 4px;
	top: 30px;
	width: 480px;
	border-radius: 4px;
	background: #fdfdfd;
	box-shadow: 0 0 2px #333;
	max-height: 600px;
	overflow-y: auto;
	z-index: 999;
}

#playlist {
	margin-bottom: 210px;
}

.list-track {
	position: relative;
	border-radius: 4px;
	background: #fdfdfd;
	box-shadow: 0 0 2px #333;
	margin: 3px;
	padding: 8px;
}

.list-track.playing {
	background: #dfdfdf;
}

.found-track {
	position: relative;
	margin: 3px;
	padding: 8px;
}

.found-track:not(:last-child) {
	border-bottom: 1px solid #333;
}

.found-track button {
	position: relative;
	float: right;
	clear: right;
	margin-top: -40px;
}

#player {
	position: fixed;
	left: 0;
	bottom: 0;
	border: none;
}

a.edit {
	margin-left: 3px;
	cursor: pointer;
}
